<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BitMEXAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BitMEXAssistant.Properties.Settings>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="APISecret" serializeAs="String">
                <value />
            </setting>
            <setting name="DCAContracts" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DCAHours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DCAMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DCASeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DCATimes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DCAReduceOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DCAExecuteImmediately" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverloadRetry" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverloadRetryAttempts" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RetryAttemptWaitTime" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SpreadBuyOrders" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SpreadSellOrders" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SpreadBuyValueApart" serializeAs="String">
                <value>25.0</value>
            </setting>
            <setting name="SpreadSellValueApart" serializeAs="String">
                <value>25.0</value>
            </setting>
            <setting name="SpreadBuyContractsEach" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SpreadSellContractsEach" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SpreadBuyReduceOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpreadSellReduceOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpreadBuyPostOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpreadSellPostOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpreadBuyExecute" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpreadSellExecute" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpreadCancelBeforeOrdering" serializeAs="String">
                <value>True</value>
            </setting>
        </BitMEXAssistant.Properties.Settings>
    </userSettings>
</configuration>